<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/styles/styles.css" />
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="jspm_packages/npm/bootstrap-material-design@0.5.10/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="jspm_packages/npm/bootstrap-material-design@0.5.10/dist/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="jspm_packages/npm/bootstrap-material-design@0.5.10/dist/css/ripples.min.css">
</head>
<body>
    <section id="main">
        @RenderBody()
    </section>
</body>
</html>
